
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  max-width:1200px;
  margin:auto;
}



p {
	line-height:1.3em;
}


.mainTitle1{
	color:MediumVioletRed;
}
.mainTitle2{
	color:Violet;
}
.contentTitle{
	text-align:center;
	padding:20px;
	font-size:24px;
	margin-top:20px;
}

.abstract{
	color:darkblue;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 40px;
}

/* Λωρίδα πλοήγησης*/
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

.menu li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: yellow;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 65%;
}



/* Right column */
.rightcolumn {
  float: left;
  width: 35%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


/* Fake image */
.fakeimg {
  background-color: snow;
  max-width: 100%;
  padding: 20px;
  margin:5px;
  border-radius:5px;
}

.fakeimg h5{
	line-height:150%;
}

.topcard {
  background-color: snow;
  max-width: 100%;
  padding: 20px;
  margin:5px;
  border-radius:5px;
}

.toplink{
	text-decoration:none;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align:center;
}

.card p {
text-align:left;
}

.card a {
	background-color:snow;
	text-decoration:none;
	color:darkblue;
	border-radius:5px;
	padding:5px;
}

.card a:hover { 
  background-color:pink;
}

.card ul {
	list-style-type:disc;
	text-align:left;
    margin: 10px;
    padding: 0 0 0 30px;
    overflow: hidden;
    background-color: white;
}
.card ul li {
	padding:5px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}



.homemenu{
	position:fixed;
	bottom:30px;
	right:30px;
	width:50px;
	height:60px;
	padding:15px 21px 10px 19px;
	border-radius:10px;
	background-color:lightgreen;
	opacity:0.8;
	font-size:24px;
	cursor:pointer;
	
}
/*.homemenu:hover{background-color:pink;}*/

.emphasis{
	background-color:pink;
	opacity:0.9;
	border-radius:5px;
	padding: 0 5px 0 5px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn{   
    width: 100%;
    padding: 0;
  }
  
  
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
   .menu a, .menu li {
    float: none;
    width: 100%;
	border-style:solid;
	border-width:1px;
	border-color:white;
	text-align:right;
  }
  .mainTitle1{font-size:30px;}
  .mainTitle2{font-size:30px;}
}

.input_field{
	width:280px;  
	margin:10px 10px 0px 0px;
	font-size:16px; 
	color:#D8D8D8;
	background-color:#3C6A8C;
	font-family:Arial;
	resize:none;
	border-style:none;
	float:center;
	}
.button_field{  
	margin:10px 10px 0px 0px;
	font-size:16px; 
	color:#D8D8D8;
	background-color:#3C6A8C;
	font-family:Arial;
	resize:none;
	border-style:none;
	float:center;
	}
	


/* Footer */
.footer {
  padding: 10px;
  text-align: left;
  background: purple;
  color:white;
  margin-top: 20px;
  font-size:12px;
}

.footerLeftColumn {   
  float: left;
  width: 60%;
}

/* Right column */
.footerRightColumn {
  float: left;
  width: 40%;
  padding-left: 10px;
  border-left:solid white 1px;
}

/* Clear floats after the columns */
.footer::after {
  content: "";
  display: table;
  clear: both;
}

.footer a{
	text-decoration:none;
	color:white;
}
