body {
	padding:0px 1% 0px 2%;
	margin:0px auto 0px auto;
	background-color:white;
	font-family:Times New Roman;
	color:#28475D;
	max-width:760px;
	}



h1 {
	text-align:center;
}

h2 {
	color:DodgerBlue;
	margin:40px 0px 0px 0px;
	text-align:center;
}

h3{
}

.img_contex{
	text-align:center;
}

.img_main{
	max-width:60%;
}

.img_caption{
	font-style:italic;
}

.contex{
}

.summary{
	font-style:italic;
	letter-spacing:0.2em;
	margin: 40px 0px 0px 0px;
}

.table_caption{
	font-style:italic;
}

.author{
	font-weight:bold;
	font-style:oblique;
	text-indent:20px;
	text-align:center;
}

.date{
	font-weight:bold;
	font-style:italic;
	text-indent:20px;
	text-align:center;
}

.moto{
	font-style:italic;
	letter-spacing:0.2em;
	margin: 40px 0px 0px 0px;
}

.moto_author{
	font-weight:bold;
	font-style:oblique;
	letter-spacing:0.2em;
}
	
dfn{
	font-weight:bold;
	font-style:italic;
	color:maroon;
}
	

table {
	width:100%;
	background-color:snow;
}

th, td {
padding: 7px 10px 10px 10px;}
th {
letter-spacing: 0.1em;
font-size: 90%;
border-bottom: 2px solid #111111;
border-top: 1px solid #999;
text-align: center;
}

.table_sum{
	letter-spacing: 0.1em;
	font-size: 90%;
	font-weight:bold;
	text-align: left;
	border-bottom: 1px solid #999;
}
	