body {
	padding:0px 1% 0px 2%;
	margin:0px auto 0px auto;
	background-color:white;
	font-family:Times New Roman;
	color:#28475D;
	max-width:600px;
	background: white url("./backgroundImage.png") no-repat fixed center top;
	background-size:95%;
	counter-reset: problem;
	}

h1 {
	text-align:center;
}

h3 {
	color:DodgerBlue;
	margin:40px 0px 0px 0px;
	text-align:center;
}

h4 {
	color:DodgerBlue;
	margin-top:40px;
	margin-bottom:20px;
	text-align:center;
}

li {
	padding: 10px;
}

ol.level1 {
}

ol.level2 {
	list-style-type:lower-roman;
}

li.noNumberedItem{
	display:block;
}

li.numberedItem{
}

ul.tableOfContentsLevel1{
	padding:5px;
	margin:0px;
	list-style-type:none;
}
ul.tableOfContentsLevel2{
	padding:5px;
	margin-left:40px;
	list-style-type:none;
}

.inlineMath{
}

.emphasisPortion{
	font-weight:bold;
	color:maroon;
}

.problemCard{
	margin-top:50px;
}

.problemCard::before{
	counter-increment: problem;
	content: "Άσκηση " counter(problem) ". ";
	font-weight:bold;
	color:DodgerBlue;
}

.problemCard p {
}

.footerCard{
	margin-top:30px;
	margin-bottom:30px;
	background-color:lightgray;
	text-align:center;
	color:DodgerBlue;
}

.johnkscienseTable {
	width:100%;
	background-color:snow;
	margin-top:10px;
}

.johnkscienseTable th, td {
	text-align:left;
	padding: 7px 10px 10px 10px;
	font-weight:normal;
	}

.problemImg{
	max-width:80%
}

.menuList{
	list-style-type: none;
	margin: 0;
	padding:5px;
	overflow: hidden;
	background-color: lightgray;
	position:fixed;
	top:0;
	width:95%;
	max-width:600px;
	text-align:center;

}

.menuList li{
	display:inline;
}

.menuList a:link, a:visited {
  color:DodgerBlue;
  text-decoration: none;
}


.menuList a:hover, a:active{
  color: black;
  text-decoration: none;
}

a:link, a:visited {
  color:DodgerBlue;
  text-decoration: none;
}
a:hover, a:active{
  color: black;
  text-decoration: none;
}

