body {
  font-family: 'Calibri';
  padding: 10px;
  background: #f1f1f1;
  max-width:1200px;
  margin:auto;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}

.emphasize{
	color: Fuchsia;
}

.h2 {
	font-size: 22px;
	color:blue;
	font-weight: bold;
}

.experiment{
	display:none;
	max-width:800px;
}